
<div class="container-fluid">

<h2>Page 2</h2>
<p>register works!</p>

<div class="row d-flex justify-content-center">
<button type="button" class="btn btn-link" (click)="goToUser()" > Go To User</button>
</div>

<div class="row" *ngIf="active">
  <h4>Welcome {{firstName}}</h4>
</div>
</div>

 <div class="row">
    <table class="table text-center" >
     <thead>
      <tr class="table-success">
            <th> <i class="fa fa-user fa-2xl" aria-hidden="true"></i> Name </th>
            <th> Code </th>
            <th> Country </th>
        </tr>
     </thead>
      <tbody>
      <tr *ngFor="let item of dataList">
            <td> <strong>{{item.name}}</strong></td>
            <td>{{item.code}}</td>
            <td>{{item.country}}</td>
            <td><i class="fa fa-share" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
</div>

<div class="row">
  <div [ngSwitch]="name">
    <div *ngSwitchCase="'Abdelilah'"> Welcome Abdelilah</div>
    <div *ngSwitchCase="'khalil'"> Welcome khalil</div>
    <div *ngSwitchCase="'moussa'"> Welcome moussa</div>
  </div>
</div>

<div class="row">
  <table class="table text-center">
    <thead class="table-secondary">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fruits of tableFr">
        <td>{{fruits.productName}}</td>
        <td>{{fruits.productQuantity}}</td>
        <td>{{fruits.productPrice}}</td>
      </tr>
    </tbody>

  </table>

</div>













